<template name="staffGroupPosts">
    <div data-class="ui middle aligned left aligned container grid">

        <div class="six wide column">

            <h2 class="ui header">
                <div class="content">
                    Create a Post
                </div>
            </h2>

            <form class="ui large form ">
                <div class="ui stacked segment">

                    <!-- Title -->
                    <div class="field">
                        <label>Title</label>
                        <div class="ui left icon input">
                            <i class="minus icon"></i>
                            <input type="text" name="title" placeholder="Link title">
                        </div>
                    </div>
                    <!-- /title -->

                    <!-- /description -->
                    <div class="field">

                        <label>Description</label>
                        <div class="ui left icon input">
                            <i class="content icon"></i>
                            <input type="text" name="description" placeholder="Link description">
                        </div>
                    </div>
                    <!-- /description -->

                    <input type="submit" id="createAPost" class="ui fluid large green submit button" value="Create a post">

                </div>

                <div class="ui error message">
                    The name is already taken, please choose another name
                </div>
            </form>

        </div>

        <div class="ui eight wide centered column">

            <div class="ui segment">
                <div class="ui divided items">
                    {{#each getPosts}}
                        <div class="item">
                            <div class="content">

                                <div class="full width header">
                                    <span class="ui small header">{{title}}</span>
                                </div>

                                <div class="meta">

                                    <span class="date meta" data-content="{{detailedDate createdAt}}" data-variation="mini" data-position="right center">
                                        <i class="wait icon"></i>
                                        {{formatDateHumanized createdAt}}
                                    </span>
                                </div>

                                <div class="description">
                                    {{#markdown}}{{description}}{{/markdown}}
                                </div>

                                <div class="full right width footer" align="right">
                                    <a class="ui right small fotter" href="{{pathFor 'user.profile' _id=ownerId}}">{{getOwnerName ownerId}}</a>
                                </div>

                            </div>
                        </div>
                    {{/each}}

                </div>
            </div>

        </div>
    </div>

</template>
