<template name="staffGroupsBrowse">

    <div class="main header">
        <h1 class="ui huge text centered ">Staff Groups</h1>
    </div>

    <div class="ui divider container"></div>

    <div class="ui stackable container four column very relaxed grid">
        {{#each staffGroups}}
            <div class="column">
                {{>staffGroupCard}}
            </div>
        {{/each}}
    </div>
</template>

<template name="staffGroupCard">
    <div class="ui card">

        <div class="content">
            <a class="header" href="{{pathFor 'staffGroup.info' name=name}}">{{name}}</a>
            <div class="meta">
                <a href="#">Members Count :
                    {{membersCount}}</a>
            </div>

        </div>

    </div>
</template>
