<template name="register">

	<div class="ui stackable grid">
		<div class="eight wide centered column">
			<form class="ui form segment">
				<div class="two fields">
					<div class="field">
						<label>First Name</label>
						<input placeholder="First Name" name="firstname" type="text">
					</div>
					<div class="field">
						<label>Last Name</label>
						<input placeholder="Last Name" name="lastname" type="text">
					</div>
				</div>
				<div class="field">
					<label>Email Address</label>
					<input placeholder="email@example.com" name="email" type="text">
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" name="pass">
				</div>
				<div class="field">
					<label>Repeat Password</label>
					<input type="password" name="repass">
				</div>
				<div class=" field">
					<div class="ui checkbox">
						<input type="checkbox" name="terms" tabindex="0">
						<label>I agree to the <a href="#">Terms and Conditions</a></label>
					</div>
				</div>
				<div class="ui two buttons">
					<input class="big ui green submit button" type="submit" value="submit">
					<a class="big ui animated blue button" tabindex="0" href="{{pathFor 'user.login'}}">
						<div class="visible content">Or, Login</div>
						<div class="hidden content">
							<i class="right arrow icon"></i> I'm registered
						</div>
					</a>
				</div>
				<div class="ui error message"></div>
				<div class="ui info message">
					<div class="header">
						Awesome,
					</div>
					<ul class="list">
						<li>Just Fill up this brief form to get started.</li>
					</ul>
				</div>
			</form>
		</div>
	</div>

</template>
