<template name="header">
  <!-- Header -->
  <div class="ui large top hidden menu">

    <!--Container-->
    <div class="ui container">
      <a class="item {{isActive 'home'}}" href="{{pathFor 'home'}}">Home</a>

      <!-- Admin Panel Button (only visible to admin)-->
      {{#if isInRole "admin"}}
        <a href="{{pathFor 'admin.panel'}}" class="item {{isActive 'admin.panel'}}">Admin</a>
      {{/if}}
      <!-- /Admin Panel-->

      <!-- Schdeule Button-->
      <a class="item {{isActive 'schedule'}}" href="{{pathFor 'schedule'}}">Schedule</a>
      <!-- /Schdeule Button-->

      <!-- Team Button-->
      {{#if currentUser}}
        <a class="item {{isActive 'team.browse'}}" href="{{pathFor 'team.browse'}}">Teams</a>
      {{/if}}
      <!-- /Team Button-->

      <!-- Discussions Button-->
      {{#if currentUser}}
        <a class="item {{isActive 'discussions'}}" href="{{pathFor 'discussions'}}">Discussions</a>
      {{/if}}
      <!-- /Discussions Button-->

      <!-- Hall of Fame Button-->
      {{#if currentUser}}
        <a class="item {{isActive 'hallOfFame'}}" href="{{pathFor 'hallOfFame'}}">Hall of Fame</a>
      {{/if}}
      <!-- /Hall of Fame Button-->

      <!-- survey Button-->
        {{#if getPendingSurvey}}
      
        <a class="item {{isActive 'user.survey'}}" href="{{pathFor 'user.survey'}}">Survey</a>
        {{/if}}
      <!-- /survey Button-->

      <div class="right menu">
        {{#if currentUser}}
          {{> userView}}
        {{else}}

          <!-- LogIn Button-->
          <div class="item">
            <a class="ui button" href="{{pathFor 'user.login'}}">Login</a>
          </div>
          <!-- /LogIn Button-->

          <!-- Register Button-->
          <div class="item">
            <a class="ui primary button" href="{{pathFor 'user.register'}}">Sign Up</a>
          </div>
          <!-- /Register Button-->
        {{/if}}
      </div>
    </div>
    <!-- Container -->
  </div>
  <!-- /Header-->
</template>
