<template name="legalModal">
    <div class="ui modal" id="legal-modal">
        <i class="close icon"></i>

        <!-- Header -->
        <div class="header">
            LEGAL
        </div>
        <!-- /Header -->

        <!-- Content -->
        <div class="content">
            <div class="description">
                <p>

                    <!-- Favicon Attribution -->
                    <div>Icons made by
                        <a href="http://www.freepik.com" title="Freepik">Freepik</a>
                        from
                        <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
                        is licensed by
                        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    </div>
                    <!-- Favicon Attribution -->

                </p>
            </div>
        </div>
        <!-- /Content -->

    </div>
</template>
