<template name="sideBar">
  <div class="ui secondary vertical huge pointing menu">
    <a class="item {{isActive 'team.info'}}" href="{{pathFor 'team.info' _id=_id}}">Team Info</a>
    <a class="item {{isActive 'team.milestones'}}" href="{{pathFor 'team.milestones' _id=_id}}" >Milestones</a>
    <a class="item {{isActive 'team.announcements'}}" href="{{pathFor 'team.announcements' _id=_id}}" >Announcements</a>
    {{#if canEdit}}
    <a class="item {{isActive 'team'}}" href="{{pathFor 'team.edit' _id=_id}}">Edit Team</a>
    {{/if}}
  </div>
</template>