<template name="createAnnouncement">
  <div data-class="ui middle aligned center aligned container grid">
    <div class="six wide column">

      <h2 class="ui header">
        <div class="content">
          Create an Announcement 
        </div>
      </h2>

      <form class="ui large form ">
        <div class="ui stacked segment">

          <div class="fields">

            <!-- Announcement Title -->
            <div class="twelve wide required field">
              <label>Title</label>
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="title" placeholder="announcement">
              </div>
            </div>
            <!-- /Announcement Title -->

            <!-- MilestoneCheckBox -->
            <div class="four wide field">
              <label>MileStone</label>
              <div class="ui toggle checkbox">
                <input type="checkbox" id="milestone" name="milestone" abindex="0" class="hidden">
              </div>
            </div>
            <!-- /MilestoneCheckBox -->

          </div>

          <!-- Announcement Description -->
          <div class="field">
            <label>Description</label>
            <textarea name="description" placeholder="Description"></textarea>
          </div>
          <!-- /Announcement Description -->

          <!-- Company Selection -->
          <div class="two fields">
            <div class="field">
              <div class="ui multiple search selection dropdown">
                <input type="hidden" name="companies">
                <div class="default text">Select Companies</div>
                <i class="dropdown icon"></i>

                <div class="menu">
                  {{#each teams}}
                    <div class="item" data-value="{{_id}}">{{companyName}}</div>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="field">
              <div class="ui toggle checkbox">
                <input type="checkbox" id="global" name="global" abindex="0" class="hidden">
                <label>Global</label>
              </div>
            </div>
          </div>
          <!-- /Company Selection -->

          <input type="submit" class="ui fluid large green submit button" value="Add Announcement">

        </div>
      </form>

    </div>
  </div>
</template>
