<template name="teamAnnouncements">
  <div class="ui divided items">
    {{#each announcements}}
      {{> announcement}}
    {{/each}}
  </div>
</template>

<template name="announcement">
  <div class="item">
    <div class="content">
      <div class="header">{{title}}</div>
      <div class="meta">
        <span class="date meta" data-content="{{detailedDate createdAt}}" data-variation="mini" data-position="right center">
          <i class="wait icon"></i>
          {{formatDateHumanized createdAt}}
        </span>
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>
  </div>
</template>
