.member.item {
  margin-bottom: 23px;

  .header {
    margin-top: 7px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }

    .name {
      margin-bottom: 2px;
    }

  }

}

.ui.card > .image > .team.logo {
  height: 200px;
  object-fit: contain;
  margin: auto;
  padding: 10px;
}

#logo-link {
  background-color: white;
}

#about-team-image {
  height: 200px;
  object-fit: contain;
  width: 200px;
  background-color: white;
}
