<template name="adminPanel">

  <div class="ui container grid">

    <div class="ui row">
      <div class="ui center aligned column">
        <h1 class="header">Adminstrator Panel</h1>
      </div>
    </div>

    <!-- OPTIONS -->
    <div class="ui three column row">
      <div class="ui column">
        <a href="/manageusers" class="not styled link">
          <div class="ui segment selectable">
            <div class="header text centered">
              <i class="huge users icon"></i>
              <h2>Manage Users</h2>
            </div>
          </div>
        </a>

      </div>
    </div>
    <!-- /OPTIONS -->

  </div>

</template>
