<template name="manageUsers">
  <!-- Header -->
  <div class="ui container grid">
    <div class="row">
      <div class="ui column">
        <h1 class="ui header text centered">Manage Users</h1>
      </div>
    </div>
    <!-- /Header -->

    <!-- Users Table -->
    <div class="row">
      <div class="ui sixteen wide column">
        <table class="ui celled padded unstackable table">
          <thead>
            <tr>
              <th>User</th>
              <th>Role</th>
            </tr>
          </thead>

          <tbody>
            {{#each users}} {{> userEntry}} {{/each}}
          </tbody>

          <!-- Update Button -->
          <tfoot>
            <tr>
              <th colspan="2">
                <div class="ui right floated small primary labeled icon button" id="update-users-button">
                  <i class="save icon"></i>Update</div>
              </th>
            </tr>
          </tfoot>
          <!-- /Update Button -->

        </table>
      </div>
    </div>
    <!-- /Users Table -->

  </div>

</template>

<template name="userEntry">
  <tr>

    <td>
      <h4 class="ui header">
        <div class="content">
          {{username}}
        </div>
      </h4>
    </td>

    <td>
      <div class="ui selection dropdown" id={{_id}}>
        <input type="hidden" name="role">
        <i class="dropdown icon"></i>
        <div class="default text"></div>
        <div class="menu">
          <div class="item" data-value="admin">Admin</div>
          <div class="item" data-value="lecturer">Lecturer</div>
          <div class="item" data-value="teaching-assistant">TA</div>
          <div class="item" data-value="juniour-teaching-assistant">JTA</div>
          <div class="item" data-value="student">Student</div>
        </div>
      </div>
    </td>

  </tr>
</template>
