<template name="surveyAdmin">
    <div class="ui cards centered">
        <div class="card">
            <div class="content">
                <div class="header">
                    Populate and send survey
                </div>
                <div class="meta">
                    WARNING: Do not change unless you're the admin and want to resend a new survey
                </div>
                <div class="description">
                    <button class="survey center aligned medium ui button green" title="">Send Survey</button>
                </div>
            </div>
            <div class="extra content">
            {{#if onlineSurvey}}
              <p class="ui green tiny header">There is a survey online</p>
            {{else}}
              <p class="ui red tiny header">No survey online</p>
            {{/if}}
                
            </div> 
        </div>
    </div>
    <div class="main header">
        <h1 class="ui huge text centered ">Teams</h1>
    </div>
    <div class="ui divider container"></div>
    <div class="ui stackable container one column very relaxed grid">
        {{#each teams}}
        <div class="column">
            {{>surveyTeamCard}}
        </div>
        {{/each}}
    </div>
</template>
<template name="surveyTeamCard">
    <div class="ui card centered">
        <div class="content">
            <div class="header">
                <a class="header" href="{{pathFor 'team.info' slug=slug}}">{{name}}</a>
            </div>
            <div class="meta">
                <span class="right floated time">{{filledCount}} / {{membersCount}}</span>
                <span class="category">{{companyName}}</span>
            </div>
            <div class="description">
                {{#each members}} {{>eachUserPending}} {{/each}}
            </div>
        </div>
        <div class="extra content">
            <a class="ui expand-view green right labeled icon button centered" href="{{pathFor 'admin.teamInfo' slug=slug}}" {{!-- value="{{_id}}" --}}>
                <i class="right plus icon"></i> Expand view
            </a>
        </div>
    </div>
</template>
<template name="eachUserPending">
    <div class="header">{{fullName}}
        <span class="right floated time">
            {{#if pendingSurvey}}
               <strong class="ui red tiny header"> Pending</strong>
               {{else}}
               <strong class="ui green tiny header">Done</strong>
            {{/if}}

        </span>
    </div>
    <div class="ui fitted divider"></div>
</template>
