<template name="answer">
  <div class="ui padded segment">

    <div class="item">

      <div class="header">

        <!-- Edit and delete icons -->
        <div class="header">

          {{#if canEdit}}
            <span class="ui right floated tiny header icons group">
              <i id="edit-icon" class="edit link icon"></i>
              <i id="delete-icon" class="trash red link icon"></i>
            </span>
          {{/if}}

        </div>
        <!-- /Edit and delete icons -->

      </div>

      <!-- Meta | Owner and Date -->
      <div class="meta">
        <span class="owner name">
          Answered by :
          <a href="{{pathFor 'user.profile' _id=owner._id}}">{{owner.fullName}}</a>
        </span>

        <span class="date meta" data-content="{{detailedDate createdAt}}" data-variation="mini" data-position="right center">
          <i class="wait icon"></i>
          {{formatDateHumanized createdAt}}
        </span>
      </div>
      <!-- /Meta | Owner and Date -->

      <!-- Answer content -->
      <div class="content answer body">
        <!-- NOTE: This should be preserved from formatting, to allow markdown to render properly -->
        {{#markdown}}{{description}}{{/markdown}}
      </div>
      <!-- /Answer content -->

    </div>

  </div>
</template>
