<template name="home">
  <div class="ui page full screen grid">
    <div class="row">
      <div class="ui center aligned bottom aligned column">
        <h1 class="huge text">Welcome to Software Engineering 2016</h1>
      </div>
    </div>

    <div class="row">
      <div class="ui center aligned top aligned column">
        <a href="{{pathFor 'schedule'}}" class="ui big green button">
          <i class="folder open outline icon"></i> Course Materials
        </a>
      </div>
    </div>

  </div>
</template>
