<template name="deleteQuestionConfirmationModal">

  <!-- Confirm Deletion Modal -->
  <div class="ui small modal" id="delete-question-modal">
    <i class="close icon"></i>
    <div class="header">
      Are you sure you want to delete this question ?
    </div>
    <div class="actions">
      <div class="ui black deny button">
        No, Keep my question
      </div>
      <div class="ui negative approve right labeled icon button">
        Yes, Delete It
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
  <!-- /Confirm Deletion Modal -->

</template>
