<template name="teamGrades">

    <table class="ui celled center aligned structured table">
        <thead>
            <tr>
                <th rowspan="2">Criteria</th>
                <th rowspan="2">Details</th>
                <th rowspan="2">Score</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Alpha Team</td>
                <td>Project 1</td>
                <td>2</td>
            </tr>
            <tr>
                <td rowspan="3">Beta Team</td>
                <td>Project 1</td>
                <td>52</td>
            </tr>
            <tr>
                <td>Project 2</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Project 3</td>
                <td>21</td>
            </tr>
        </tbody>
    </table>

    {{criteria}}

</template>
