<template name="teamGrades">

    <table class="ui celled center aligned structured selectable table">
        <thead>
            <tr>
                <th rowspan="2">Criteria</th>
                <th rowspan="2">Details</th>
                <th rowspan="2">Score</th>
            </tr>
        </thead>

        <tbody>

            {{#with entries}}
                {{#each teamsGrades.criteria}}
                    <tr>
                        <td rowspan="{{rowSpan}}">{{name}}</td>
                    </tr>
                    {{#each checklist}}
                        <tr>
                            <td>
                                {{name}}
                            </td>
                            <td>
                                {{grade.score}}
                            </td>
                        </tr>
                    {{/each}}
                {{/each}}
            {{/with}}

        </tbody>
    </table>

</template>
