<template name="teamGrades">
    <select id="currentMilestone" class="ui dropdown fluid">
        <option value="">current Milestone</option>
        <option value="0">MileStone2</option>
        <option value="1">MileStone3</option>
    </select>
    {{#with entries}}

        <table class="ui celled center aligned structured selectable table">
            <thead>
                <tr>
                    <th rowspan="2">Criteria</th>
                    <th rowspan="2">Details</th>
                    <th rowspan="2">Score</th>
                </tr>
            </thead>

            <tbody>

                {{#each teamsGrades.criteria}}
                    <tr>
                        <td rowspan="{{rowSpan}}">{{name}}</td>
                    </tr>
                    {{#each checklist}}
                        <tr>
                            <td>
                                {{name}}
                            </td>
                            <td>
                                {{grade.score}}
                            </td>
                        </tr>
                    {{/each}}
                {{/each}}

            </tbody>
        </table>

        <div class="ui statistics">
            <!-- Team Total Grade -->
            <div class="ui big statistic">
                <div class="value">
                    <i class="yellow star icon"></i>
                    {{totalGrade}}/{{maxGrade}}
                </div>
                <div class="label">
                    Total Team grade
                </div>
            </div>
            <!-- /Team Total Grade -->

            <!-- Individual Grade -->
            <div class="ui big statistic">
                <div class="value">
                    <i class="green user icon"></i>
                    {{individualsGrade}}/2
                </div>
                <div class="label">
                    Your Grade
                </div>
            </div>
            <!-- /Individual Grade -->
        </div>

    {{/with}}

</template>
