<template name="userSurvey">
    <div class="ui raised segment survey-card">
        <h3 class="ui horizontal divider header">
             <i class="users icon"></i>
            Team Based
        </h3>
        <p class="ui text centered">Please rate how much you agree with these statements</p>
        <form class="ui form">
            {{#each teamQuestions}} {{>oneTeamQues}} {{/each}}
            <h3 class="ui horizontal divider header">
             <i class="user icon"></i>
            User Based
            </h3>
            <p class="ui text centered">Please rate how much you agree with these statements <strong>for each user</strong></p>
            {{#each userQ in userQuestions}}
            <h3>{{userQ.ques}}</h3> {{#each member in teamMembers}} {{>oneMemberQues userQ=userQ member=member}} {{/each}}
            <br> {{/each}} {{#unless isInRole "scrum-master"}}
            <h3 class="ui horizontal divider header">
             <i class="spy icon"></i>
            Scrum Master
            </h3>
            <p class="ui text centered">Please rate how much you agree with these statements</p>
            <p></p>
            {{#each scrumQuestions}} 
            {{>oneScrumQues}} 
            {{/each}} 

            {{/unless}}
            <div><a class="ui large red tag label" href="https://docs.google.com/forms/d/1viQPUSBEcGTXKI_LD4xtR4S412RBZT1Os74WNqCzvO4/viewform" target="_blank">Please don't forget to fill in the other survey! Just click on this <strong>tag</strong> here. Thank you! :)</a>
            </div>
            <br>
            <input class="ui right inverted green button submit survey-btn" type="submit" value="submit">
        </form>
        <div class="ui hidden positive message">
            <i class="close icon"></i>
            <div class="header">
                Thank you for filling the survey!
            </div>
        </div>
    </div>
</template>
<template name="oneTeamQues">
    <div class="column">
        <h3>{{ques}}</h3>
        <div class="required inline fields">
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="1" name="{{id}}" tabindex="0" class="hidden">
                    <label>Strongly disagree</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="2" name="{{id}}" tabindex="0" class="hidden">
                    <label>slightly disagree</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="3" name="{{id}}" tabindex="0" class="hidden">
                    <label>neutral</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="4" name="{{id}}" tabindex="0" class="hidden">
                    <label>slightly agree</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="5" name="{{id}}" tabindex="0" class="hidden">
                    <label>Strongly agree</label>
                </div>
            </div>
        </div>
        <br>
    </div>
</template>
<template name="oneMemberQues">
    <div class="required inline fields">
        <label class="username-label" for="{{userQuesId userQ.id member._id}}">{{member.fullName}}:</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input required type="radio" value="1" name="{{userQuesId userQ.id member._id}}" tabindex="0" class="hidden">
                <label>Strongly disagree</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input required type="radio" value="2" name="{{userQuesId userQ.id member._id}}" tabindex="0" class="hidden">
                <label>slightly disagree</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input required type="radio" value="3" name="{{userQuesId userQ.id member._id}}" tabindex="0" class="hidden">
                <label>neutral</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input required type="radio" value="4" name="{{userQuesId userQ.id member._id}}" tabindex="0" class="hidden">
                <label>slightly agree</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input required type="radio" value="5" name="{{userQuesId userQ.id member._id}}" tabindex="0" class="hidden">
                <label>Strongly agree</label>
            </div>
        </div>
    </div>
</template>
<template name="oneScrumQues">
    <div class="column">
        <h3>{{ques}}</h3>
        <div class="required inline fields">
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="1" name="{{userQuesId id scrumId}}" tabindex="0" class="hidden">
                    <label>Strongly disagree</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="2" name="{{userQuesId id scrumId}}" tabindex="0" class="hidden">
                    <label>slightly disagree</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="3" name="{{userQuesId id scrumId}}" tabindex="0" class="hidden">
                    <label>neutral</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="4" name="{{userQuesId id scrumId}}" tabindex="0" class="hidden">
                    <label>slightly agree</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input required type="radio" value="5" name="{{userQuesId id scrumId}}" tabindex="0" class="hidden">
                    <label>Strongly agree</label>
                </div>
            </div>
        </div>
        <br>
    </div>
</template>
