<template name="material">

  <!-- Material -->
  <tr>

    <td>
      <div class="item">
        <div class="content">

          <!-- Material Header -->
          <div class="header">
            <h3>

            <!-- Material Admin only Actions -->
            {{#if isInRole 'admin'}}
            <div class="action-icons">
              <i id = "edit-icon" class="action-icon large edit link icon"></i>
              <i id = "delete-icon" class="action-icon large trash link icon"></i>
            </div>
            {{/if}}
            <!-- /Material Admin only Actions -->
            
            {{#if equals content 'lecture'}}
            <i class="pdf file outline red icon"></i>
            {{else}}
            <i class="text file outline red icon"></i>
            {{/if}}
            <a target="_blank" href=
              {{#if equals type 'link'}}
              {{identifier}}
              {{else}}
              {{fileUrl identifier}}
              {{/if}}>
              {{title}}
            </a>
            </h3>
          </div>
          <!-- /Material Header -->

          <div class="meta">

            <div class="date meta">
              <i class="grey calendar outline icon"></i>
              {{formatDate createdAt}}
            </div>

            <div class="type meta">
              <i class="grey file icon"></i>
              {{content}}
            </div>

            <div class="type meta">
              <i class="linkify file icon"></i>
              {{type}}
            </div>
      
          </div>
      
        </div>
      
      </div>

    </td>

  </tr>
  <!-- /Material -->
</template>