<template name="material">
  <tr>
    <td>
      <div class="item">
        <div class="content">
          <div class="header">
            <h3>
            <div class="action-icons">
              <i id = "delete-icon" class="action-icon large trash link icon"></i>
              <i id = "edit-icon" class="action-icon large edit link icon"></i>
            </div>
            {{#if equals content 'lecture'}}
            <i class="pdf file outline red icon"></i>
            {{else}}
            <i class="text file outline red icon"></i>
            {{/if}}
            <a target="_blank" href=
              {{#if equals type 'link'}}
              {{identifier}}
              {{else}}
              {{fileUrl identifier}}
              {{/if}}>
              {{title}}
            </a>
            </h3>
          </div>
          <div class="meta">
            <div class="date meta">
              <i class="grey calendar outline icon"></i>
              {{formatDate createdAt}}
            </div>
            <div class="type meta">
              <i class="grey file icon"></i>
              {{content}}
            </div>
            <div class="type meta">
              <i class="linkify file icon"></i>
              {{type}}
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</template>