<template name="materialGroup">
  <!-- Week -->
  <div class="material-group wrapper">
    <div class="ui row">
      <!-- Week Header -->
      <h2 class="header" >{{#if equals type 'week'}}{{lowerCamelCase type}}{{/if}}
      {{lowerCamelCase value}}
      </h2>
      <div class="ui divider"></div>
      <!-- /Week Header -->
      <!-- Week Content Table -->
      <table class="ui very basic unstackable table">
        <tbody>
          {{#each materialsOfWeek type value}}
          {{> material}}
          {{/each}}
        </tbody>
      </table>
      <!-- /Week Content Table -->
    </div>
  </div>
  <!-- /Week -->
</template>