<template name = "schedule">
	<div class="ui stackable container grid">
		<div class="ten wide centered column">
			<h1 class="centered text header">Schedule</h1>
			<div class="ui row">
				
				<table class="ui very basic table">
					<h2>Week 1</h2>
					<div class="ui divider"></div>
					<tbody>
						<tr>
							<td>
								<h4 class="ui image header">
								<i class="pdf file outline red icon"></i>
								<div class="content">
									Working Files - Download These First
									<div class="sub header">
										<i class= "grey calendar outline icon"></i>
										21-Feb-2016
									</div>
								</div>
							</h4></td>
							<td>
								Lecture
							</td>
						</tr>
						<tr>
							<td>
								<h4 class="ui image header">
								<i class="powerpoint file outline red icon"></i>
								<div class="content">
									Matthew
									<div class="sub header">
										<i class= "grey calendar outline icon"></i>
										21-Feb-2016
									</div>
								</div>
							</h4></td>
							<td>
								Slides
							</td>
						</tr>
						<tr>
							<td>
								<h4 class="ui image header">
								<i class="powerpoint file outline red icon"></i>
								<div class="content">
									Lindsay
									<div class="sub header">
										<i class= "grey calendar outline icon"></i>
										21-Feb-2016
									</div>
								</div>
							</h4></td>
							<td>
								Slides
							</td>
						</tr>
						<tr>
							<td>
								<h4 class="ui image header">
								<i class="pdf file outline red icon"></i>
								<div class="content">
									Mark
									<div class="sub header">
										<i class= "grey calendar outline icon"></i>
										21-Feb-2016
									</div>
								</div>
							</h4></td>
							<td>
								Lecture
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ui row">
				<table class="ui very basic  table">
					<h2>Week 2</h2>
					<div class="ui divider"></div>
					<tbody>
						<tr>
							<td>
								<h4 class="ui image header">
								<i class="pdf file outline red icon"></i>
								<div class="content">
									Working Files - Download These First
									<div class="sub header">
										<i class= "grey calendar outline icon"></i>
										21-Feb-2016
									</div>
								</div>
							</h4></td>
							<td>
								Lecture
							</td>
						</tr>
						<tr>
							<td>
								<h4 class="ui image header">
								<i class="pdf file outline red icon"></i>
								<div class="content">
									Matthew
									<div class="sub header">
										<i class= "grey calendar outline icon"></i>
										21-Feb-2016
									</div>
								</div>
							</h4></td>
							<td>
								Lecture
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>