<template name="scheduleEditor">
	<div class="ui stackable container grid">
		<div class="eight wide centered column">
			<form id= "uploadMaterialForm" class="ui form segment">
				<div class="ui success message">
					<div class="header">Thank you </div>
					<p>you are file is now uploaded</p>
				</div>
				<div class="fields">
					<div class="four wide field">
						<div class="ui toggle checkbox">
							<input id = "materialType" name="public" type="checkbox">
							<label>{{materialType}}</label>
						</div>
					</div>
					<div class="twelve wide required inline required field myFileInput">
						{{#if equals materialType 'file'}}
						<input type="file" id="upload" class="ui centered " style="display:none">
						<div class="ui fluid icon input">
							<div class="ui disabled input">
								<input placeholder="fileName" name = "identifier" id="fileName" type="text">
							</div>
							<div id = "divUpload" class="ui teal right labeled icon button">
								<i class="file icon"></i>Upload
							</div>
						</div>
						{{else}}
						<div class="ui fluid input">
							<input placeholder="http://google.com" name = "identifier" id ="link" t ype="text">
						</div>
						{{/if}}
					</div>
				</div>
				<div class="required field">
					<label>title</label>
					<input placeholder="lecture 1" name="title" id ="title"  type="text">
				</div>
				<div class="two fields">
					<div class="required field">
						<label>content</label>
						<select class="ui fluid search dropdown" name="content" id ="content" >
							<option value="">Content</option>
							<option value="lecture">Lecture</option>
							<option value="tutorial">Tutorial</option>
							<option value="practiceAssignment">Practice Assignment</option>
						</select>
					</div>
					<div class="required field">
						<label>week</label>
						<select class="ui fluid search dropdown" name="week" id ="week" >
							<option value="">Week</option>
							<option value="1">Week 1</option>
							<option value="2">week 2</option>
							<option value="3">week 3</option>
							<option value="4">week 4</option>
						</select>
					</div>
				</div>
				<div class="field">
					<label>description</label>
					<textarea name= "description" id = "description" ></textarea>
				</div>
				<div class="ui large teal submit button">Submit</div>
				<div class="ui error message"></div>
			</form>
		</div>
	</div>
</template>