<template name="scheduleEditor">
	<div class="ui stackable container grid">
		<div class="eight wide centered column">
			<div class="ui form segment">
				<div class="fields">
					<div class="four wide field">
						<div class="ui toggle checkbox">
							<input id = materialType name="public" class="materialType" type="checkbox">
							<label>{{materialType}}</label>
						</div>
					</div>
					<div class="twelve wide required inline required field myFileInput">
						{{#if equals materialType 'link'}}
						<input type="file" id="upload" class="ui centered " style="display:none">
						<div class="ui fluid icon input">
							<div class="ui disabled input">
								<input placeholder="fileName" id="fileName" type="text">
							</div>
							<div id = "divUpload" class="ui teal right labeled icon button">
								<i class="file icon"></i>Upload
							</div>
						</div>
						{{else}}
						<div class="ui fluid input">
							<input placeholder="http://google.com" name="link" id ="link"  type="text">
						</div>
						{{/if}}
					</div>
				</div>
				<div class="required field">
					<label>title</label>
					<input placeholder="lecture 1" name="title" id ="title"  type="text">
				</div>
				<div class="two fields">
					<div class="required field">
						<label>content</label>
						<select class="ui fluid search dropdown" name="content" id ="content" >
							<option value="lecture">Lecture</option>
							<option value="tutorial">Tutorial</option>
							<option value="practiceAssignment">Practice Assignment</option>
						</select>
					</div>
					<div class="required field">
						<label>week</label>
						<select class="ui fluid search dropdown" name="week" id ="week" >
							<option value="Week1">Week 1</option>
							<option value="week2">week 2</option>
							<option value="week3">week 3</option>
							<option value="week4">week 4</option>
						</select>
					</div>
				</div>
				<div class="field">
					<label>description</label>
					<textarea name= "description" id = "description" ></textarea>
				</div>
				<div class="ui center aligned">
					<input id="submit" class= "ui large teal submit  button" value="Login" type="submit">
				</div>
			</div>
		</div>
	</div>
</template>