<template name="scheduleEditor">
	<div class="ui stackable container grid">
		<div class="eight wide centered column">
			<div class="ui form segment">
				<div class="required field">
					<label>title</label>
					<input placeholder="lecture 1" name="title" type="text">
				</div>
				
				<div class="two fields">
					<div class="required field">
						<label>type</label>
						<select class="ui fluid search dropdown" name="type">
							<option value="lecture">Lecture</option>
							<option value="tutorial">Tutorial</option>
							<option value="practiceAssignment">Practice Assignment</option>
						</select>
					</div>
					<div class="required field">
						<label>week</label>
						<select class="ui fluid search dropdown" name="week">
							<option value="Week1">Week 1</option>
							<option value="week2">week 2</option>
							<option value="week3">week 3</option>
							<option value="week4">week 4</option>
						</select>
					</div>
				</div>
				<div class="field">
					<label>description</label>
					<textarea name = "description"></textarea>
				</div>
				<div>
					<label for="file" class="ui icon button">
					<i class="file icon"></i>Upload Material</label>
					<input type="file" id="file" class="ui centered myFileInput" style="display:none">
				</div>
			</div>
		</div>
	</div>
</template>