<template name="schedule">
  <!-- Schedule -->
  <div class="schedule">
    <div class="ui stackable container grid">
      <div class="ten wide centered column">
        <div class="main header">
          <h1 class="ui text centered header">Schedule</h1>
        </div>
        {{#each filterGroups }}
        {{> materialGroup type = currentFilter value = value}}
        {{/each}}
        <div class="ui left dividing rail"></div>
        <div class="ui right dividing attached rail">
          <div class="ui segment">
            <h3> Filter By: </h3>
            <select id = "filterBy" class="ui dropdown fluid">
              <option value="">Filter By</option>
              <option value="week">Calendar</option>
              <option value="content">File Type</option>
              <option value="uploadDate">Posting Date</option>
            </select>
            {{#if isInRole 'admin'}}
            <h3> Add Materials:</h3>
            <button id = "add-material" class="ui fluid button">
            Add New Material
            </button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Schedule -->
  <div class="ui small modal">
    <div class="ui stackable container padded grid">
      <div class="sixteen wide centered column">
        {{>scheduleEditForm }}
      </div>
    </div>
  </div>
  <div class="ui material-delete tiny modal">
    <i class="close icon"></i>
    <div class="header">
      Are you sure you want to delete this Material ?
    </div>
    <div class="actions">
      <div class="ui black deny button">
        No
      </div>
      <div class="ui positive right labeled icon button">
        Yes, Delete It .
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</template>