<template name="contactUs">
  <div class="ui container grid">
    <div class="ui column">

      <!-- Header -->
      <div class="main header">
        <h1 class="ui large text centered">Software Engineering 2016 Team</h1>
      </div>
      <!-- /Header -->

      <div class="ui divider container"></div>
      <div class="ui hidden divider container"></div>

      <h2 class="ui short dividing header">Lecturer</h2>

      <!-- Lecturer -->
      <div class="ui large list contact info">
      <li class="item">
        <div class="content">
          <h3>Dr. Amr Desouky</h3>
        </div>
      </li>

      <li class="item">
        <i class="mail icon"></i>
        <div class="content">
          <a href="mailto:amr.desouky@guc.edu.eg">
            amr.desouky@guc.edu.eg
          </a>
        </div>
      </li>

      <li class="item">
        <i class="marker icon"></i>
        <div class="content">
          C7.309
        </div>
      </li>

    </div>

    <!-- Lecturer -->

    <!-- Teaching Assistants -->
    <h2 class="ui normal dividing header">Teaching Assistant</h2>

    <div class="ui large list contact info">
      <li class="item">
        <div class="content">
          <h3>Eng. Amr Draz</h3>
        </div>
      </li>

      <li class="item">
        <i class="mail icon"></i>
        <div class="content">
          <a href="mailto:amr.deraz@guc.edu.eg">
            amr.deraz@guc.edu.eg
          </a>
        </div>
      </li>

      <li class="item">
        <i class="marker icon"></i>
        <div class="content">
          C7.220
        </div>
      </li>

    </div>

    <div class="ui large list contact info">
      <li class="item">
        <div class="content">
          <h3>Eng. Nader Alexan</h3>
        </div>
      </li>

      <li class="item">
        <i class="mail icon"></i>
        <div class="content">
          <a href="mailto:nader.saady@guc.edu.eg ">
            nader.saady@guc.edu.eg
          </a>
        </div>
      </li>

      <li class="item">
        <i class="marker icon"></i>
        <div class="content">
          C7.220
        </div>
      </li>

    </div>

    <!-- Teaching Assistants -->

    <!-- Development Team -->

    <h2 class="ui normal dividing header">Development Team</h2>

    <div class="ui large list contact info">
      <li class="item">
        <div class="content">
          <h3>Ali Hassan</h3>
        </div>
      </li>

      <li class="item">
        <i class="mail icon"></i>
        <div class="content">
          <a href="mailto:ali.hassan.abdallatif@gmail.com">
            ali.hassan.abdallatif@gmail.com
          </a>
        </div>
      </li>

      <li class="item">
        <i class="github icon"></i>
        <div class="content">
          <a href="https://github.com/alihassan0">
            @alihassan0
          </a>
        </div>
      </li>

    </div>

    <div class="ui large list contact info">
      <li class="item">
        <div class="content">
          <h3>Abdelrahman Elkady</h3>
        </div>
      </li>

      <li class="item">
        <i class="mail icon"></i>
        <div class="content">
          <a href="mailto:elkadyabdelrahman@gmail.com">
            elkadyabdelrahman@gmail.com
          </a>
        </div>
      </li>

      <li class="item">
        <i class="github icon"></i>
        <div class="content">
          <a href="https://github.com/abdelrahman-elkady">
            @abdelrahman-elkady
          </a>
        </div>
      </li>

    </div>

    <!-- Development Team -->

  </div>
</div>
</template>
