<template name="contactUs">
  <div class="ui stackable container grid">
    <div class="ui row">

      <div class="ui sixteen wide column">
        <!-- Header -->
        <div class="main header">
          <h1 class="ui large text centered">Software Engineering 2016 Team</h1>
        </div>
        <!-- /Header -->

        <div class="ui divider container"></div>
        <div class="ui hidden divider container"></div>
      </div>

      <div class="ui eight wide column">

        <h1 class="ui header">Lecturer</h1>

        <!-- Lecturer -->
        <div class="ui large list contact info">
        <li class="item">
          <div class="content">
            <h3>Dr. Amr Desouky</h3>
          </div>
        </li>

        <li class="item">
          <i class="mail icon"></i>
          <div class="content">
            <a href="mailto:amr.desouky@guc.edu.eg">
              amr.desouky@guc.edu.eg
            </a>
          </div>
        </li>

        <li class="item">
          <i class="marker icon"></i>
          <div class="content">
            C7.309
          </div>
        </li>

      </div>

      <!-- Lecturer -->

      <!-- Teaching Assistants -->
      <h1 class="ui header">Teaching Assistant</h1>

      <div class="ui large list contact info">
        <li class="item">
          <div class="content">
            <h3>Eng. Amr Draz</h3>
          </div>
        </li>

        <li class="item">
          <i class="mail icon"></i>
          <div class="content">
            <a href="mailto:amr.deraz@guc.edu.eg">
              amr.deraz@guc.edu.eg
            </a>
          </div>
        </li>

        <li class="item">
          <i class="marker icon"></i>
          <div class="content">
            C7.220
          </div>
        </li>

      </div>

      <div class="ui large list contact info">
        <li class="item">
          <div class="content">
            <h3>Eng. Nader Alexan</h3>
          </div>
        </li>

        <li class="item">
          <i class="mail icon"></i>
          <div class="content">
            <a href="mailto:nader.saady@guc.edu.eg ">
              nader.saady@guc.edu.eg
            </a>
          </div>
        </li>

        <li class="item">
          <i class="marker icon"></i>
          <div class="content">
            C7.220
          </div>
        </li>

      </div>

      <!-- Teaching Assistants -->

    </div>

    <div class="ui eight wide column">
      <!-- Development Team -->

      <h1 class="ui header">Development Team</h1>

      <div class="ui large list contact info">
        <li class="item">
          <div class="content">
            <h3>Ali Hassan</h3>
          </div>
        </li>

        <li class="item">
          <i class="mail icon"></i>
          <div class="content">
            <a href="mailto:ali.hassan.abdallatif@gmail.com">
              ali.hassan.abdallatif@gmail.com
            </a>
          </div>
        </li>

        <li class="item">
          <i class="github icon"></i>
          <div class="content">
            <a href="https://github.com/alihassan0">
              @alihassan0
            </a>
          </div>
        </li>

      </div>

      <div class="ui large list contact info">
        <li class="item">
          <div class="content">
            <h3>Abdelrahman Elkady</h3>
          </div>
        </li>

        <li class="item">
          <i class="mail icon"></i>
          <div class="content">
            <a href="mailto:elkadyabdelrahman@gmail.com">
              elkadyabdelrahman@gmail.com
            </a>
          </div>
        </li>

        <li class="item">
          <i class="github icon"></i>
          <div class="content">
            <a href="https://github.com/abdelrahman-elkady">
              @abdelrahman-elkady
            </a>
          </div>
        </li>

      </div>

      <!-- Development Team -->
    </div>

    <div class="ui sixteen wide column">
      <div class="ui divider"></div>

      <h5>
        Contact us @
        <a href="mailto:management.secourse@gmail.com">management.secourse@gmail.com</a>
      </h5>
    </div>

  </div>
</div>
</template>
