<template name="FAQ">

  <div class="ui container grid">
    <div class="ui column">

      <!-- Header -->
      <div class="main header">
        <h1 class="ui text centered">Frequently Asked Questions</h1>
      </div>
      <!-- /Header -->

      <div class="ui divider container"></div>
      <div class="ui hidden divider container"></div>

      <!-- /FAQ -->
      <div class="ui big accordion">

        <div class="title">
          <h3>
            <i class="dropdown icon"></i>
            What is this thing ?
          </h3>
        </div>
        <div class="content">
          <p class="transition hidden">That was a question and this is it's answer !</p>
        </div>

        <div class="title">
          <h3>
            <i class="dropdown icon"></i>
            Why I am not recieving an Email verification link after registration OR Why my account is not working anymore ?
          </h3>
        </div>
        <div class="content">
          <p class="transition hidden">You should register only with your
            <strong>GUC Email</strong>, e.g. `yourname@student.guc.edu.eg`, if you are registering with another email provider you may not have the verification link, moreover even if you got a verification link your account will be suspended and you will need
            to create a new account with your
            <strong>GUC Email address</strong>
            .</p>
        </div>

        <div class="title">
          <h3>
            <i class="dropdown icon"></i>
            Verification link is broken .
          </h3>
        </div>
        <div class="content">
          <p class="transition hidden">
            Try to copy and paste the link instead of clicking on it, if still not working please submit an issue
            <a target="_blank" href="#">here</a>
            .</p>
        </div>

        <div class="title">
          <h3>
            <i class="dropdown icon"></i>
            I can't create a new team
          </h3>
        </div>
        <div class="content">
          <p class="transition hidden">
            Only Scrum Masters can create new teams, if you are the scrum master of your team please send an Email to
            <a href="mailto:management.secourse@gmail.com">management.secourse@gmail.com</a>
          </p>
        </div>

        <div class="title">
          <h3>
            <i class="dropdown icon"></i>
            I can see a list of created teams but I can't join any
          </h3>
        </div>
        <div class="content">
          <p class="transition hidden">
            In order to join a team the srcum master of this team should add you in, contact the Scrum master of your team to join
          </p>
        </div>

        <div class="title">
          <h3>
            <i class="dropdown icon"></i>
            Why do you keep saying google it ?
          </h3>
        </div>
        <div class="content">
          <p class="transition hidden">
            The
            <a target="_blank" href="http://bfy.tw/4Uy8">answer</a>
            is easy</p>
        </div>

      </div>
      <!-- /FAQ -->
    </div>
  </div>

</template>
