<template name="home">
  <div class="ui page full screen grid">
    <div class="row">
      <div data-class="ui center aligned middle aligned column">
        <!-- Header -->
        <h1 class="big text">Welcome to Software Engineering Course 2017</h1>
        <!-- /Header -->
        {{#each getFollowedQuestions}}

        {{/each}}

        {{#if isInTeam}}
          <!-- User's Team -->
          <a href="{{pathFor 'team.info' slug=getTeamSlug}}" class="ui big blue button" id="home-team-button-extra-pad">
            <i class="users icon"></i>
            Your team
          </a>
          <!-- User's Team -->

          <!-- Browse Teams -->
          <a href="{{pathFor 'team.browse'}}" class="ui big blue button">
            <i class="browser icon"></i>
            Browse Teams
          </a>
          <!-- /Browse Teams -->

          <div class="ui horizontal divider">
            Or
          </div>
        {{/if}}

        <!-- Explore materials button -->
        <a href="{{pathFor 'schedule'}}" class="ui big green button">
          <i class="folder open outline icon"></i>
          Explore Course Materials
        </a>
        <br>
        <br>
        <div class="ui horizontal divider"></div>
        <br>
        <!-- /Explore materials button -->
        <!-- {{#if currentUser}}
          <h1 class = "leaderboard-title"><span>Sprint</span> Leaderboard</h1>
          {{> reactiveTableFilter id="myFilter" label="Filter Teams" fields=["name"] }}
         {{> reactiveTable class="ui selectable celled table" collection=teams settings=leaderboardSettings}}
        {{/if}} -->
      </div>
    </div>
  </div>
</template>

 <template name="imageRenderTmpl">
    <img src="{{image}}" class = "ui centered tiny rounded image" alt="">
</template>

<template name="numberRenderTmpl">
  {{#if isFirst number}}
   <div class="ui yellow big ribbon label center aligned"><i class="empty star icon"></i> Top Dogs</div>
   {{else}}
   <div class="center aligned">{{number}}</div>
   {{/if}}
</template>
