<!--the Schdeule Edit Page used in admin panel -->
<template name="hallOfFame">
  <div class="ui stackable container grid">
    <div class="eight wide center aligned centered column">
		<!-- 28- winnters -->
    <div class="ui horizontal divider"><div class="ui huge header">28 -</div></div>
    <div class="ui huge header">Coolsoft</div>
    <img class="ui fluid rounded image" src="/images/hall-of-fame/28-winners.jpg">
		<!-- /28- winnters -->

		<!-- 25- winnters -->
    <div class="ui horizontal divider"><div class="ui huge header">25 -</div></div>
    <div class="ui accordion">
	  <div class="title">
	  	<h2 class="ui huge center aligned icon header">
			  <i class="circular star icon"></i>
			  Coolsoft
			</h2>
	  </div>
		  <div class="content">
		    <div class="ui middle aligned divided list">
				  <div class="item">
				    <div class="content">
				      <a class="header">Daniel Louise</a>
				    </div>
				  </div>
				  <div class="item">
				    <div class="content">
				      <a class="header">Stevie Feliciano</a>
				    </div>
				  </div>
				  <div class="item">
				    <div class="content">
				      <a class="header">Elliot Fu</a>
				    </div>
				  </div>
				</div>
		  </div>
	  </div>
    <img class="ui fluid rounded image" src="/images/hall-of-fame/25-winners.jpg">
		<!-- /25- winnters -->


    </div>
  </div>
</template>
