<!--the Schdeule Edit Page used in admin panel -->
<template name="hallOfFame">
  <div class="ui stackable container grid">
    <div class="twelve wide center aligned centered column">
		<!-- 28- winnters -->
		
		<div class="row">
	    <div class="ui horizontal divider"><div class="ui huge header">28 -</div></div>
	    <div class="ui huge header">Coolsoft</div>
	    <div class="ui stackable container three column very relaxed grid">
	    {{#each winningTeamMembers}}
	      <div class="column">
	        {{> winningTeamMember}}
	      </div>
	    {{/each}}
	  </div>
	  </div>
		<!-- /28- winnters -->

		<!-- 25- winnters -->
		<div class="row">
	    <div class="ui horizontal divider"><div class="ui huge header">25 -</div></div>
	    <div class="ui accordion">
			  <div class="title">
			  	<h2 class="ui huge center aligned icon header">
					  <i class="orange star icon"></i>
					  Coolsoft
					</h2>
			  </div>
			  <div class="content">
	    		<div class="ui horizontal divider"> <i class="github icon"></i> Github repo</div>
	    			<a href="https://github.com/desoukya/SEMS"> SEMS</a>
	    		<div class="ui horizontal divider"> <i class="users icon"></i> members</div>
			    <div class="ui middle aligned divided horizontal list">
					  <div class="item">
					    <div class="content">
					      <a class="header">Daniel Louise</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Stevie Feliciano</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Elliot Fu</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Daniel Louise</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Stevie Feliciano</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Elliot Fu</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Daniel Louise</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Stevie Feliciano</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Elliot Fu</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Daniel Louise</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Stevie Feliciano</a>
					    </div>
					  </div>
					  <div class="item">
					    <div class="content">
					      <a class="header">Elliot Fu</a>
					    </div>
					  </div>
					</div>
			  	<div class="ui horizontal divider"> <i class="camera icon"></i> Photo</div>
			  	<img class="ui fluid rounded image" src="/images/hall-of-fame/25-winners.jpg">
			  </div>
		  </div>
		</div>

		<!-- /25- winnters -->


    </div>
  </div>
</template>
<template name="winningTeamMember">
  <div class="ui card">
    <a class="image" id="logo-link" href="{{pathFor 'team.info' slug=slug}}">
      <img class="" style= "height:140px;" src="{{image}}">
    </a>

    <div class="content">
      <a class="header" href="{{pathFor 'team.info' slug=slug}}">{{name}}</a>
      <div class="meta">
        {{#if siteUrl}}
          <a target="_blank" href="{{siteUrl}}" class="right floated icon">
            <i class="blue large server link icon"></i>
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</template>