// Semantic Default Colors
$background-color: #dadada;
$red: #B03060;
$orange: #FE9A76;
$yellow: #FFD700;
$olive: #32CD32;
$green: #016936;
$teal: #008080;
$blue: #0E6EB8;
$violet: #EE82EE;
$purple: #B413EC;
$pink: #FF1493;
$brown: #A52A2A;
$grey: #A0A0A0;
$black: #000000;

// Image sizes
$image-mini: 35px;
$image-tiny: 80px;
$image-small: 150px;
$image-medium: 300px;
$image-large: 450px;
$image-big: 600px;
$image-huge: 800px;
$image-massive: 960px;
