// Colors
$background-color: #dadada;

// Image sizes
$image-mini: 35px;
$image-tiny: 80px;
$image-small: 150px;
$image-medium: 300px;
$image-large: 450px;
$image-big: 600px;
$image-huge: 800px;
$image-massive: 960px;
