<template name="discussions">
    <div class="ui container grid">
        <div class="twelve wide centered column">
            <!-- Toggle Question form button -->
            <div class="ui blue button" id="toggle-question-form-button">Ask a question</div>
            <!-- /Toggle Question form button -->
            <!-- Question Form -->
            <div class="ui segment transition hidden" id="add-question-form">
                <form class="ui form new-question">
                    <!-- Title -->
                    <div class="field">
                        <label>Ask a question</label>
                        <input class="small" type="text" name="title" placeholder="Ask a question" />
                    </div>
                    <!-- /Title -->
                    <!-- Description -->
                    <div class="field">
                        <label>Description</label>
                        <textarea name="description"></textarea>
                    </div>
                    <!-- /Description -->
                    <!-- Tags -->
                    <div class="field">
                        <label>Tags</label>
                        <div class="ui fluid multiple selection search dropdown">
                            <input id="tags" name="tags" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Tags</div>
                            <div class="menu">
                                {{#each allTags}}
                                <div class="item" data-value="{{this}}">{{this}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <!-- /Tags -->
                    <input type="submit" class="ui fluid large green submit button" value="submit">
                </form>
            </div>
            <!-- /Question Form -->
            <!-- Question SearchBox -->
            {{> questionsSearchBox}}
            <!-- /Question SearchBox -->
            <!-- Questions -->
            <!--div class="ui segment">
        <div class="ui divided items">
          {{#each questions}}
            {{> question}}
          {{/each}}
        </div>
      </div-->
            <!-- /Questions -->
        </div>
    </div>
</template>
<template name="navigator">
    <div class="ui pagination menu">
    {{#each page}}
        <a class="page item {{pageClasses this}} ">{{content}}</a>
    {{/each}}
    </div>
</template>

<template name="questionsSearchBox">
    {{> EasySearch.Input index = questionsIndex }}
    <div class="ui pagination menu">
        {{> EasySearch.Pagination index=questionsIndex maxPages=1 renderPagination="navigator"}}
    </div>
    <div class="ui segment">
        <div class="ui divided items">
            {{#EasySearch.Each index = questionsIndex }} {{> question}} {{/EasySearch.Each}}
        </div>
    </div>
</template>