<template name="tag">
  <a class="ui tiny label">{{this}}</a>
</template>

<template name="question">
  <div class="item">

    <div class="vote">
      <i class="chevron up link icon" id="upvote-arrow"></i>
      <div class="votes">{{totalVotes}}</div>
      <i class="chevron down link icon" id="downvote-arrow"></i>
    </div>

    <div class="content">
      <a href="{{pathFor 'question.page' _id= _id}}" class="header">{{title}}</a>
      <div class="extra">
        {{#each tags}}
          {{> tag}}
        {{/each}}
        <div class="ui right floated text">
          by
          <a href="{{pathFor 'user.profile' _id= askerId}}">{{owner.fullName}}</a>
          an hour ago
        </div>
      </div>
    </div>

  </div>
</template>
