<template name="tag">
  <a class="ui tiny label">{{this}}</a>
</template>

<template name="question">
  <div class="item">

    <div class="content">

      <div class="ui grid">
        <div class="ui one wide column">
          {{> questionVotingPanel}}
        </div>

        <div class="ui fifteen wide column">

          <div class="ui header">
            <a href="{{pathFor 'question.page' _id= __originalId}}">{{title}}</a>
          </div>

          <div class="extra">
            {{#each tags}}
              {{> tag}}
            {{/each}}
            <div class="ui right floated text">
              by
              <a href="{{pathFor 'user.profile' _id= ownerId}}">{{owner.fullName}}</a>
              {{formatDateHumanized createdAt}}
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</template>
