.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  /* footer height + breathing space !*/
  padding-bottom: 118px + 50px;
}

.not.styled.link {
  color: inherit;
  text-decoration: none;
}

.full.screen {
  width: 100vw;
  min-height: 80vh;
  height: 100%;
}

.main.header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.small.circular.image {
  @include size($image-small);
  object-fit: cover;
}

#home-team-button-extra-pad {
  padding-left: 42px;
  padding-right: 42px;
}

.contact.info {
  margin-bottom: 60px;
}

.icons.group {
  .icon {
    padding-left: 9px;

    opacity: 0.75;

    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;

    &:hover {
      opacity: 1.0;
    }
  }
}

.full.width {
  width: 100%;
}

img {
  max-width: 100%;
}

.extra.padded {
  padding:40px;
}
