body:after {
  content: "beta";
  position: fixed;
  width: 140px;
  height: 25px;
  background: $teal;
  top: 29px;
  left: -30px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  line-height: 27px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
