.large.text {
  font-size: 2.5em;
}

.big.text {
  font-size: 3em;
}

.huge.text {
  font-size: 3.5em;
}

.massive.text {
  font-size: 4em;
}

.centered.text {
  text-align: center !important;
}

.short.dividing.header {
  width: 15%;
}

.normal.dividing.header {
  width: 20%;
}

.long.dividing.header {
  width: 20%;
}

blockquote {
  background: $light-grey;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }

}

p > code,
p > strong > code {
  background: darken($light-grey, 4%);
  color: $red;
  padding-left: 3px;
  padding-right: 3px;
}

.small.meta {
  font-size: 12px !important;
  color: $grey;
  display: inline;
}

.padded.meta {
  @extend .small.meta;
  padding-left: 15px;
}
