.large.text {
  font-size: 2.5em;
}

.big.text {
  font-size: 3em;
}

.huge.text {
  font-size: 3.5em;
}

.massive.text {
  font-size: 4em;
}

.centered.text {
  text-align: center;
}

.short.dividing.header {
  width: 15%;
}

.normal.dividing.header {
  width: 20%;
}

.long.dividing.header {
  width: 20%;
}
