<template name="createTeam">
  <div data-class="ui middle aligned center aligned container grid">
    <div class="six wide column">

      <img class="ui centered rounded image" id="team-main-image" src="/images/teams/default.png">

      <h2 class="ui header">
        <div class="content">
          Create a team
        </div>
      </h2>

      <form class="ui large form ">
        <div class="ui stacked segment">

          <!-- Team Name -->
          <div class="field">
            <label>Team Name</label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="teamName" placeholder="The Expendables">
            </div>
          </div>
          <!-- /Team Name -->

          <!-- Company Selection -->
          <div class="field">
            <label>Company</label>
            <div class="ui search selection dropdown">
              <input type="hidden" name="company">
              <div class="default text">Select a company</div>
              <i class="dropdown icon"></i>

              <div class="menu">
                {{#each companies}}
                  <div class="item" data-value="{{_id}}">{{name}}</div>
                {{/each}}
              </div>
            </div>
          </div>
          <!-- /Company Selection -->

          <!-- Github repo link -->
          <div class="field">
            <label>Github Repo Link</label>
            <div class="ui left icon input">
              <i class="github icon"></i>
              <input type="text" name="repoLink" placeholder="https://github.com/desoukya/SEMS">
            </div>
          </div>
          <!-- /Github repo link -->

          <input type="submit" class="ui fluid large green submit button" value="Create team">

        </div>

        <div class="ui error message">
          The name is already taken, please choose another name
        </div>
      </form>

    </div>
  </div>
</template>
