<template name="createTeam">
  <div class="ui middle aligned center aligned container grid" id="login-wrapper">
    <div class="six wide column">
      <h2 class="ui image header">
        <div class="content">
          Create a team
        </div>
      </h2>
      <form class="ui large login form ">
        <div class="ui stacked segment">
          <div class="field">
            <label>Team Name</label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="teamName" placeholder="The Expendables">
            </div>
          </div>
          <div class="field">
            <label>Github Repo Link</label>
            <div class="ui left icon input">
              <i class="github icon"></i>
              <input type="text" name="repoLink" placeholder="The Expendables">
            </div>
          </div>
          <input type="submit" id="loginBtn" class="ui fluid large green submit button" value="Create team">
        </div>

        <div class="ui error message">
          The name is already taken .. please choose another name
        </div>
      </form>

    </div>
  </div>
</template>
