<template name="userChoice">
  <div class="item" data-value="{{_id}}">{{fullName}}</div>
</template>
<template name="editableTeamMember">
  <div class="item">

    {{#unless isScrum}}
      <div class="right floated content">
        <i id="delete-icon" class="action-icon disabled large trash link icon"></i>
      </div>
    {{/unless}}

    <img class="ui avatar image" src={{profilePicture.url}}>

    <div class="content">
      <a class="header" href="{{pathFor 'user.profile' _id=_id}}">{{fullName}}</a>
      <div class="description">{{profile.tutorialGroup}}</div>
    </div>
  </div>
</template>
<template name="editTeam">
  {{#if isInRole 'scrum-master,admin'}}
    <div class="ui segment">

      <h1 class="ui dividing header">Edit Information</h1>

      <table class="ui very basic table">
        <tbody>

          <tr>
            <td class="collapsing">Team name</td>
            <td>
              <div class="ui left icon fluid disabled input">
                <i class="copyright icon"></i>
                <input type="text" id="teamName" maxlength="33" value="{{name}}" placeholder="Team Name">
              </div>
            </td>
            <td class="right aligned collapsing">
              <button id="changeTeamName" class="ui button">
                Edit
              </button>
            </td>
          </tr>

          <tr>
            <td class="collapsing">Repo Link</td>
            <td>
              <div class="ui left icon fluid disabled input">
                <i class="github icon"></i>
                <input type="text" id="repoLink" value="{{repo}}" placeholder="Repo Link">
              </div>
            </td>
            <td class="right aligned collapsing">
              <button id="changeRepoLink" class="ui button">
                Edit
              </button>
            </td>
          </tr>

          <tr>
            <td class="collapsing">Deployed app URL</td>
            <td>
              <div class="ui left icon fluid disabled input">
                <i class="cloud icon"></i>
                <input type="text" id="websiteLink" value="{{siteUrl}}" placeholder="site Link">
              </div>
            </td>
            <td class="right aligned collapsing">
              <button id="changeSiteLink" class="ui button">
                Edit
              </button>
            </td>
          </tr>

          <tr>
            <td class="collapsing">Ionic App ID</td>
            <td>
              <div class="ui left icon fluid disabled input">
                <i class="mobile icon"></i>
                <input type="text" id="ionicId" value="{{ionicId}}" placeholder="Ionic Application ID">
              </div>
            </td>
            <td class="right aligned collapsing">
              <button id="changeIonicId" class="ui button">
                Edit
              </button>
            </td>
          </tr>

          <tr>
            <td class="collapsing">Add members</td>
            <td>
              <div class="ui multiple search normal selection fluid disabled dropdown">
                <input id="members" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">Choose Team members</div>
                <div class="menu">
                  {{#each availableMembers}}
                    {{> userChoice}}
                  {{/each}}
                </div>
              </div>
            </td>
            <td class="right aligned collapsing">
              <button id="addMembers" class="ui disabled button">
                Add
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ui segment">
      <h1 class="ui dividing header">Team Members:</h1>
      {{#momentum plugin="slide-height" class="ui animated list" }}
        {{#each teamMembers}}
          {{> editableTeamMember}}
        {{/each}}
      {{/momentum}}
    </div>
  {{/if}}
</template>
