<template name="userChoice">
  <div class="item" data-value="{{_id}}">{{username}}</div>
</template>
<template name="editableTeamMember">
  <div class="item">
    <div class="right floated content">
      <i id="delete-icon" class="action-icon large trash link icon"></i>
    </div>
    <img class="ui avatar image" src= {{image.url}}>
    <div class="content">
      <a class="header" href="{{pathFor 'user.profile' _id=_id}}">{{fullName}}</a>
      <div class="description">{{tutorialGroup}}</div>
    </div>
  </div>
</template>
<template name="team">
  {{#if isInRole 'scrum-master,admin'}}
  <div class="ui container grid">
    <div class="ui ten wide centered column">

      <div class="row">
        <!-- Header -->
        <div class="main header">
          <h1 class="ui text centered header">{{teamName}}</h1>
        </div>
        <!-- /Header -->
      </div>

      <div class="ui segment">
        <a href="{{pathFor 'team.about' _id=_id}}" class="ui labeled right floated icon button">
          <i class="angle double right icon"></i>
              About Page
        </a>

        <h1 class="ui dividing header">Edit Information
          <!--button id="changeRepoLink" class="ui button"> Edit </button-->
        </h1>

        <table class="ui very basic table">
          <tbody>
            <tr>
              <td class="collapsing">Team name</td>
              <td>
                <div class="ui left icon fluid disabled input">
                  <i class="copyright icon"></i>
                  <input type="text" id="teamName" value="{{name}}" placeholder="Team Name">
                </div>
              </td>
              <td class="right aligned collapsing">
                <button id="changeTeamName" class="ui button"> Edit </button>
              </td>
            </tr>
            <tr>
              <td class="collapsing">Repo Link</td>
              <td>
                <div class="ui left icon fluid disabled input">
                  <i class="github icon"></i>
                  <input type="text" id="repoLink" value="{{repo}}" placeholder="Repo Link">
                </div>
              </td>
              <td class="right aligned collapsing">
                <button id="changeRepoLink" class="ui button"> Edit </button>
              </td>
            </tr>
            <tr>
              <td class="collapsing">Add members</td>
              <td>
                <div class="ui multiple search normal selection fluid dropdown">
                  <input id="members" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Choose Team members</div>
                  <div class="menu">
                    {{#each members}}
                      {{> userChoice}}
                    {{/each}}
                  </div>
                </div>
              </td>
              <td class="right aligned collapsing">
                <button id="addMembers" class="ui green button"> Edit </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ui segment">
        <h1 class="ui dividing header">Team Members:</h1>
        <div class="ui animated list">
          {{#each teamMembers}}
            {{> editableTeamMember}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
</template>
