<template name="teamPage">
  <div class="ui page full screen grid">
    <div class="row">
      <div class="ui center aligned bottom aligned column">
        <h1 class="huge text"> Welcome to your Team </h1>
        <h1 class="huge text"> اتفضل فى الصالون </h1>
      </div>
    </div>

    <div class="row">
      <div class="ui center aligned top aligned column">
        <a href="{{pathFor 'team.create'}}" class="ui big green button">
          <i class="folder open outline icon"></i> Create Team
        </a>
      </div>
    </div>

  </div>
</template>
