<template name="userChoice">
  <div class="item" data-value="{{_id}}">{{username}}</div>
</template>
<template name="editableTeamMember">
  <div class="item">
    <div class="right floated content">
      <i id="delete-icon" class="action-icon large trash link icon"></i>
    </div>
    <img class="ui avatar image" src= {{image.url}}>
    <div class="content">
      <a class="header">{{fullName}}</a>
      <div class="description">{{tutorialGroup}}</div>
    </div>
  </div>
</template>
<template name="team">
  <div class="ui container grid">
    <div class="ui ten wide centered column">

      <div class="row">
        <!-- Header -->
        <div class="main header">
          <h1 class="ui text centered header">{{teamName}}</h1>
        </div>
        <!-- /Header -->
      </div>

      <div class="ui sub header"> select team members</div>
      <div class="ui fluid multiple search normal selection dropdown">
        <input id="members" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Select Country</div>
        <div class="menu">
          {{#each members}}
            {{> userChoice}}
          {{/each}}
        </div>
      </div>

      <button id="addMembers" class="ui green button"> submit </button>

      <div class="ui segment">
        <div class="ui animated list">

          {{#each teamMembers}}
            {{> editableTeamMember}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
