<template name="teamAbout">
  <div class="ui container grid">
    <div class="row">
      <div class="ui center aligned column">

        <!-- Header -->
        <div class="main header">
          <h1 class="ui text centered">{{teamName}}</h1>
          <img class="ui small rounded centered image" src="{{teamImage}}" alt="team_image"/>
        </div>
        <!-- /Header -->

        <div class="ui divider container"></div>
        <div class="ui hidden divider container"></div>

        <div class="ui stackable container grid">
          <div class="column">
            <div class="ui three column very relaxed grid">
              {{#each members}}
                <div class="column">
                  {{> memberDetails}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="memberDetails">
  <div class="member item">
    <div class="ui small circular image">
      <img src="{{image.url}}">
    </div>

    <div class="header bottom aligned">
      <a href="{{pathFor 'user.profile' _id=_id}}">
        <h3 class="name">{{fullName}}</h3>
      </a>
      <h5 class="tutorial">{{tutorialGroup}}</h5>
    </div>
  </div>
</template>
