<template name="teamUnavailable">
  <div class="ui page full screen grid">
    <div class="row">
      <div class="ui center aligned bottom aligned column">
        <h1 class="huge text">It seems you are not in a team yet .. </h1>
      </div>
    </div>

    <div class="row">
      <div class="ui center aligned top aligned column">
        <a href="{{pathFor 'team.create'}}" class="ui big green button">
          <i class="sitemap icon"></i> Create Team
        </a>
        <a href="{{pathFor 'team.browse'}}" class="ui big green button">
          <i class="browser icon"></i> Browse Current Teams
        </a>
      </div>
    </div>

  </div>
</template>
