<template name="profile">
  <div class="ui stackable container grid">
    <div class="twelve wide centered column">
      {{#if currentUser}}
        <div class="ui form segment">
          {{>imageShow}}
          <div class="field">
            <div>
              <label for="file" class="ui icon button">
                <i class="file icon"></i>change image</label>
              <input type="file" id="file" class="ui centered myFileInput" style="display:none">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" value="{{firstName}}" name="fname" type="text">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" value="{{lastName}}" name="lname" type="text">
            </div>
          </div>
          <div class="field">
            <label>Email Address</label>
            <input placeholder="email@example.com" name="email" type="text" value="{{email}}">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="pass">
          </div>
          <div class="field">
            <label>Repeat Password</label>
            <input type="password" name="repass">
          </div>
          <div>
            <div class="main ui container">
              <img class="ui small circular image" src="{{this.image.url}}">
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
<template name="imageShow">
  <!-- i am sure this should be refractored along the line and combined in the profile template-->
  <img class="ui small centered circular image" src="{{image.url}}">
</template>
