<template name="profile">
  <div class="ui stackable container grid">
    <div class="twelve wide centered column">

      <!-- Edit profile -->
      <div class="ui form segment">

        <!-- Profile picture -->
        <div class="ui small centered circular image" id="profile-picture-wrapper">
          <div class="ui dimmer">
            <div class="content">
              <div class="center" id="upload-dimmer">
                <i class="big cloud upload icon"></i>
              </div>
            </div>
          </div>
          <img class="ui small centered circular image" src="{{image.url}}"/>
        </div>
        <input type="file" id="upload-profile-picture" class="ui centered" style="display:none">
        <!-- /Profile picture -->

        <!-- Name -->
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" value="{{firstName}}" name="fname" type="text">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" value="{{lastName}}" name="lname" type="text">
          </div>
        </div>
        <!-- /Name -->

        <!-- Email -->
        <div class="field">
          <label>Email Address</label>
          <input placeholder="email@example.com" name="email" type="text" value="{{email}}">
        </div>
        <!-- /Email -->

        <!-- Password -->
        <div class="field">
          <label>Password</label>
          <input type="password" name="pass">
        </div>
        <div class="field">
          <label>Repeat Password</label>
          <input type="password" name="repass">
        </div>
        <!-- /Password -->

      </div>
      <!-- Edit profile -->

    </div>
  </div>
</template>
