<template name="profile">
  <div class="ui stackable container grid">
    <div class="twelve wide centered column">

      <!-- profile -->
      <div class="ui segment">

        <!-- Profile picture -->
        {{#if Template.subscriptionsReady}}
          <img class="ui small centered circular image" src="{{image.url}}"/>
        {{else}}
          <div class="ui active huge inline centered loader"></div>
        {{/if}}
        <!-- /Profile picture -->

        <h1 class="ui centered header">{{profile.firstName}}
          {{profile.lastName}}</h1>

      </div>
      <!-- profile -->

    </div>
  </div>
</template>
