<template name="deleteNotificationsConfirmationModal">

    <!-- Confirm Deletion Modal -->
    <div class="ui modal" id="delete-notifications-modal">
        <i class="close icon"></i>
        <div class="header">
            This would delete ALL your Notifications, this action can't be undone, Are you sure you want to delete all your notifications ?
        </div>
        <div class="actions">
            <div class="ui black deny button">
                No, Keep my notifications !
            </div>
            <div class="ui negative approve right labeled icon button">
                Yes, I don't want any of my notifications
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- /Confirm Deletion Modal -->

</template>
