<template name="commentForm">
  <!-- Comment Form -->
  <form class="ui reply form">

    <div class="two fields">

      <div class="thirteen wide field">
        <textarea name="comment" rows="1"></textarea>
      </div>

      <div class="three wide field">
        <div class="ui submit tiny blue basic button" id="add-comment-button">
          <i class="comment icon"></i>
          <strong>comment</strong>
        </div>
      </div>

    </div>

  </form>
  <!-- /Comment Form -->
</template>
