<template name="comment">
  <div class="small comment">
    <a href="{{pathFor 'user.profile' _id=user._id}}" class="avatar">
      <img class="ui avatar image" src="{{user.profilePicture.url}}">
    </a>

    <div class="content">
      <a class="author" href="{{pathFor 'user.profile' _id=user._id}}">{{user.fullName}}</a>

      <div class="metadata">
        <div class="date">{{formatDateHumanized createdAt}}</div>
      </div>

      <div class="text">
        {{content}}
      </div>

    </div>

  </div>

</template>
